
.header {
    height: 150px;
    display: flex;
    justify-content: space-around; /* Изменим на space-between, чтобы разместить img и nav на разных сторонах */
    align-items: center;
    background-image: initial;
    background-color: rgb(40, 43, 44);
    color: rgb(168, 162, 152);
    transition: all 0.5s ease;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1020;
    top: 0;

}

.header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.header img:hover {
    transform: scale(1.1) rotate(15deg); /* Добавим вращение и увеличение при наведении */
}

