.relocationBlock {
    min-height: 30vh;
    background-color: #212529; /* Изменил цвет фона */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.relocationContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media(max-width: 508px) {
        overflow: hidden;
    }

}









