.skillsBlock {
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    color: #c5c1ba;
}

.skillsContainer {
    max-width: 100%;
    width: 90%; /* Задайте желаемую ширину контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: space-around;
    align-items: end;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
@media (max-width: 998px) {
    .skills {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Один столбец на мобильных устройствах */
        gap: 10px;
    }
}
