.mainBlock {
    height: 100vh;
    color: #bfbab3;
    background-color: rgb(40, 43, 44);
    padding: 4.5rem 0;
    position: relative;

}

.container {
    max-width: 1200px; /* Настройте ширину контейнера по вашим потребностям */
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text {
    width: 300px;
    background-color: #212529;
    font-size: 24px;
    font-weight: 600;
    color: #d4d1cc;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #212529;
}