.myProjectsBlock {
  background-color: rgb(40, 43, 44);
  color: rgb(168, 162, 152);
  padding: 40px 0;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;


  .projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    justify-content: space-around;
    margin-bottom: 1em;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }
}