.myProjectsBlock {
    background-color: cadetblue;
    min-height: 100vh;


}



.projectsContainer {
    flex-direction: column;
    justify-content: space-between;




}

.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: azure;

}

@media (max-width: 768px) {

    .projects {
        justify-content: center;
    }
}