.project {
    width: 100%;
    max-width: 300px;
    background-color: aliceblue;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .imgContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            width: 100%;
            height: 300px;
            display: block;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        a {
            text-decoration: none;
            color: deeppink;
        }

        &:hover::before {
            opacity: 1;
        }
    }

    .descriptionContainer {
        min-height: 200px;
        width: 100%;
        background-color: darkgrey;
        justify-content: center;
        text-align: center;
        padding: 10px;

        .title {
            text-align: center;
            background-image: linear-gradient(90deg, #16d166 0%, #20c997 100%);
            -webkit-background-clip: text;
            color: transparent;
        }

        .description {
            color: #333;
            font-size: 14px;
        }
    }

    @media (max-width: 768px) {


        .imgContainer {
            overflow: hidden;

        }
    }
}