.App {

}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #343a40;
    color: #333;
    margin: 0;
    padding: 0;
    color: #d4d1cc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



