.footerBlock {
    min-height: 40vh;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.footerContainer {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



}

.title {
    background-color: lightpink;

}

.linksBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}


.logo {
    border: 1px solid;
    background-color: darkgrey;
    height: 40px;
    width: 40px;
    margin: 20px;

}

.logo img {
    height: 100%;
    width: 100%;
}


.label {
    font-weight: bold;
    background-color: darkgrey;
}